<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="" id = "" style ="background-color: coral;">Block 요소 </div>
    <div style = "background-color: aqua;">Block 요소2</div>
    <div class ="greeting" id = "greeting1">안녕하세요</div>
    <div class ="greeting"  id = greeting2>반갑습니다</div>
    <!--
        span과 div의 차이 span 은 그 사이즈 만큼만 자리 차지 
        block은 그 라인 전체를 차지
        div는 block요소 
    -->
    <span style = "background-color: darkgreen;">Inline 요소</span>
    <div>안녕하세요. 저의 이름은 <span style = "font-weight: 900;">서지훈</span> 입니다. 반갑습니다.</div>
    
</body>
</html>