<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example01</title>

    <!--미리 sttle을 만들어 놓고 계속해서 사용한다 -->
    <!--class input style이다  -->
    <link rel = "stylesheet" href = "./style.css"/>
</head>
<body style = "margin : 0;">
    <!--레이아웃 구성-->

    <!--컨테이너 레이아웃-->
    <div style ="height: 50%; width: 100%;">
        <!--가운데 레이아웃 -->
        <div>
            <!--로고 레이아웃-->
            <div id ="logp-container">
                <a id = "logo"  href="http://naver.com">
                    <span>NAVER</span>
                </a>
            </div>
            <!--컨테이너 레이아웃-->
            <div id = "content"> </div>

            <!--아이디 레이아웃-->
            <div>
                <div class ="input input-label content">아이디</div>
                <div class = "content">
                    <input class = "input-style"  type = "text"/>
                </div>


            </div>
            <!--비밀번호 레이아웃-->
            <div>
                <div class = "input-label content" >비밀번호</div>
                <div class = "content">
                    <input class = "input-style " type = "password">
                </div>
            </div>
            <!--비밀번호 확인 레이아웃-->
            <div>
                <div class = "input-label content">비밀번호 확인</div>
                <div class = "content">
                    <input class = "input-style " type = "password">
                </div>
            </div>
            <!--이름 레이아웃-->
            <div>
                <div class = "input-label content">이름</div>
                <div class = "content">
                    <input class ="input-style ">
                </div>
            </div>
            <!--생년월일 레이아웃-->
            <div>
                <div class = "input-label content ">생년월일</div>

                <div class = "content">
                    <!--년 월 일 을 일자로 나열 시켜준다 -->
                    <div style = "display:inline input-middle-style" >
                        <input type = "number "placeholder = "년 (4자리)">

                    </div>
                    <div style = "display:inline input-middle-style">
                        <!--select tag를 사용한다-->
                        <select>
                            <option>월</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>

                        </div>
                    </div>
                    <div style = "display:inline input-middle-style">
                        <input type = "number" placeholder="일">
                    </div>
                </div>
                <div class = "content">
                    <button class ="join-button">가입하기</button>
                
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>