<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><!--input type은 text가 기본 -->
    <span>Text input</span>
    <input type="text"/>
    <span>Password Input</span><!--input type이 password 이면 진짜 비밀번호 치는것 처럼 가려져서 나온다 -->
    <input type = "password"/>
    <span>ChckBox Input</span>
    <input type = "checkbox">
    <input type = "checkbox">
    <!--Radio는 2중에 1나만 선택가능 2개모두 선택 불가 -->
    <span>Radio Input</span>
    <input name="radio" type = "radio">
    <input name="radio" type = "radio">
    <span>Date type</span>
    <input type = "date">
    <span>DateTime Input</span>
    <input type ="datetime-local">
    <span>  Button</span>
    <button>클릭 </button>
</body>
</html>